---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

  <div class="slider autoplay">
    <div>
      <img src="/images/slideshow/oakton.jpg">
    </div>
    <div>
      <img src="/images/slideshow/team1.jpg">
    </div>
    <div>
      <img src="/images/slideshow/team2.png">
    </div>
    <div>
      <img src="/images/slideshow/team3.png">
    </div>
  </div>

{% include slick.html %}

<!--
<div style='margin-top: 60px;'>
	<p>
		<h1>Update:</h1>
		Registration for our summit on April 15th is now live!
		Head on down to to <a href="/register/">this page</a> to register
		or check out our flyer <a href="/images/United Innovators Summit  Revised.pdf">here</a>.
</div>
-->

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %}
</div>
